
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="container">
        <p>Cертификат № @ViewBag.certnumber</p>

        <p>Дата: @ViewBag.date</p>
        <div id="isValid"></div>



        <p>@{
           @(ViewBag.valid? "Действителен" : "Недействителен");
        }</p>
    </div>

@*<script>
    let flag = @ViewBag.valid; 
    console.log(flag)
    let isValidInfo = document.querySelector('#isValid');
    let pInfo = document.createElement('p');
    pInfo.textContent = 'Сертификат: ';
    isValidInfo.appendChild(pInfo);
    if (flag) {
        let isValid = document.createElement('p');
        isValid.textContent = "действителен";
        isValid.style.color = "green";
        isValidInfo.appendChild(isValid);
    } else {
        let isValid = document.createElement('p');
        isValid.textContent = "не действителен";
        isValid.style.color = "red";
        isValidInfo.appendChild(isValid);
    }
</script>*@
<script src="js.js"></script>
    

</body></html>